
{% macro display(piches) %}
<div class="container-fluid">
    <div class="row">
        {% if piches %}
            {% for category in piches %}
				<div class="col-md-4" >
                        <div class="jumbotron" style="width:80%; height: 70%;">
                    <!-- <div class="thumbnail" id="carded">-->
                   <h5 > {{category.title}}</h5>
						<div>
                            <p>{{category.post}}</p>

							<footer class="blockquote-footer text-center"> Posted by: {{category.user.username}}</footer>
							<div>

                    <span class="foot btn btn-success" > <a class="text-white" href="{{url_for('main.like',id = category.id)}}"><i class="fa fa-thumbs-up" style="font-size:18px;color: green"></i> {{category.upvote.count()}}Upvote</a></span>
                    <span class="foot btn btn-warning"> <a class="text-white" href="{{url_for('main.dislike',id = category.id)}}"> <i class="fa fa-thumbs-down" style="font-size:18px;color:red;"></i> {{category.downvote.count()}}Downvote</a></span>
                    <a href="{{url_for('main.comment',post_id = category.id)}}" class="btn btn-info btn-sm">{{category.comment.count()}} Comment</a>
                    <a href="{{url_for('.delete',post_id = category.id)}}"  class="btn btn-danger btn-sm">Delete</a>



                            </div>
                        </div>
                           </div>
                        </div>
					{% endfor %}
                {% else %}
                    <div class="col-md-4">
                        <div class="card-body">
                            <p class="card-title"> Category has 0 posts</p>
                        </div>
                    </div>
				{% endif %}
                    </div>
</div>
{% endmacro %}
