{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf%}
{% block content %}
<div class="container" id="allcomments">
        <div class="row">
                {% if all_comments %}
                <div class="col-md-7">
                        <h3 class="text-center" id="coms"> All comment for the Post</h3>
                        {% for comment in all_comments %}
                        <div class="card w-90 mb-3">
                            <div class="card-body">
                            <h5>{{comment.post.title}}</h5>
                            <p class="card-title">{{comment.comment }}</p>
                            <p class="card-text">---{{comment.user.username }}</p>
                            <a href="{{url_for('.delet',id =comment.id)}}"  class="btn btn-info btn-sm">Delete</a>


                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-5 commentform">
                        {{wtf.quick_form(form)}}
                    </div>
                </div>
            {%else%}
            <div class="card w-90 mb-3">
                    <div class="card-body">
                            <p class="card-title"> No Comments for this yet. be the first to comment</p>
                        </div>
            </div>
            <div class="col-md-5 ">
                    {{wtf.quick_form(form)}}
                </div>
                {% endif %}
            </div>
        {% endblock %}
