
<nav class="mb-1 navbar navbar-expand-lg navbar-dark" >

        <a class="navbar-brand" href="{{url_for('main.index')}}" style="color: black"><strong>BLOG</strong> </a>
    <div  class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">

                    <!-- <li class="nav-item">

                        <a class="nav-link" href="{{url_for('main.index')}}" style="color: black">Blog</a>
                </li> -->
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                            <a class="nav-link" href="{{url_for('main.new_post')}}"  style="color: black">New Post</a>
                    </li>

                        <li class="nav-item">

                                <a class="nav-link" href="{{url_for('main.index')}}" style="color: black">All Post</a>
                        </li>
                        <!-- <li class="nav-item">
                                <a href="{{url_for('main.profile',name=current_user.username)}}"  style="color: black">Profile</a></li> -->
                    {% endif %}
                </ul>
            <ul class="navbar-nav ml-auto">
               {% if current_user.is_authenticated %}

                <li class="nav-item">
                        <a class="nav-link" href="{{url_for('main.profile',name=current_user.username)}}"  style="color: black">Profile</a>
                </li>



                  <li class="nav-item">
                     <a class="nav-link" href="{{url_for('auth.logout')}}" style="color: black"> LogOut</a>
                   </li>




                {% else %}
                <li class="nav-item">


                 <a href="{{url_for('auth.login')}}" style="margin-right:30px " class="nav-link"> <strong>LogIn</strong></a>

                </li>
                    <li class="nav-item">
                    <a href="{{url_for('auth.signup')}}" style="margin-right:30px " class="nav-link"><strong>SignUp</strong></a>
                </li>
                {% endif %}
                </ul>
        </div>
</nav>
